<div class="tour">
  <div class="section">
    <h1>Track where your clicks come from,</h1>
    <h1>on the web and in the world.</h1>
  </div>

  <div class="section">
    <h3>Track where all the clicks come from...to your website, or any website.</h3>
    
  </div>



  <a href="/users/sign_up">Sign Up</a>
</div>