// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section{
  margin-bottom: 60px;
  text-align:center;
  img{
    margin: 10px;
    width: 600px;
    border:5px solid white;
  }
}

.tour {
    padding: 5px;
    background-color: black;
}

.tour-btn{
  width: 400px;
  font-size: 24pt;
}
