
body {
  background-image: image-url("congruent_outline.png");
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: white;
}

.btn-danger a{
  color: white;
}

.btn-success {
  float: right;
  a{
    color:white;
  }
}

.controls {
  color: black;
}

.index-header{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.index-table {
  th{
    font-size: 1.4em;
  }
  th{
    font-size: 1.2em;
  }
}

.link-map{
  padding: 10px;
}

.signup-box{
  h4 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.signup-form{
  padding:20px;
  .form-inputs {
    padding: 10px;
  }
  .form-actions{
    padding: 10px;
    color: black;
  }
}