
body {
  background-image: image-url("congruent_outline.png");
  background-color: #888;
  background-attachment: fixed;
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: white;
}

.btn-danger a{
  color: white;
}

.btn-success {
  float: right;
  margin-bottom: 10px;
  a{
    color:white;
  }
}

.controls {
  color: black;
}

#error_explanation p, li{
  color: red;
  font-size: 18px;
}

.index-header{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.index-table {
  th{
    font-size: 1.4em;
  }
  th{
    font-size: 1.2em;
  }
}

.link-map{
  margin: 10px;
  width: 600px;
  border:5px solid white;
}

.signup-box{
  h4 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.signup-form{
  padding:20px;
  .form-inputs {
    padding: 10px;
  }
  .form-actions{
    padding: 10px;
    color: black;
  }
}

.slug-data-table{
  tr, td{ border:1px solid white;}
  td{
    padding:10px;
    .words{
      font-size: 18px;
      color: red;
    }
  }
}
